<link rel="stylesheet" href="/public/editpage.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
function genHexString(len) {
    const hex = '0123456789abcdef';
    let output = '';
    var array = new Uint32Array(8);
    self.crypto.getRandomValues(array);
    for (const number of array){
        output += hex.charAt(number % hex.length);
    }
    return output;
}

function show_error_message(data, textStatus, jqXHR, errorThrown){
    $('.failmsg').remove();
    $('#emptydiv').append(`
    <div class="failmsg">
        ERROR: Update request failed.</br>
        Data: ${data}</br>
        textStatus: ${textStatus}</br>
        Response code: ${jqXHR.status}</br>
        Response body: ${jqXHR.responseText}</br>
        Error thrown: ${errorThrown}
    </div>
    `);    
}

function bind_function_to_button() {
    $('#btnSubmit').click(function() {
        randomHexString = genHexString();
        var expected_response = "Request "+randomHexString+" was successfully executed.";
        var inputVal = $('#bodyfield').val();
        var ocsum = $('#hidden_csum').val();

        $.ajax
        ({
            type: "POST",
            url: '/update/{{.Title}}',
            //contentType: "application/json",
            data: {
               body: inputVal,
               OriginalChecksum: ocsum,
               requestID : randomHexString,
            },
        })
        .done(function(data, textStatus, jqXHR) {
            if (data === expected_response) { // request successful
                location.href = "/view/{{.Title}}";
            } else { // request failed
                show_error_message(data, textStatus, jqXHR, "");
            }
        })
        .fail(function (jqXHR, textStatus, errorThrown) { // request failed
            show_error_message("", textStatus, jqXHR, errorThrown);
        });
    });
}

function extend_page_edit_lock(){
 $.ajax({
  url: '/lock_page/{{.Title}}',
  type: 'get',
  success: function(response){
   // Perform operation on the return value
  }
 });
}

$(document).ready(function(){
 setInterval(extend_page_edit_lock,1000);

 bind_function_to_button();
});
</script>

<h1>Editing {{.Title}}</h1>

<p>You are currently logged in as: {{.Username}}</p>

<!-- <form action="/update/{{.Title}}" method="POST"> -->

<div><textarea id="bodyfield" rows="20" cols="80">{{printf "%s" .Body}}</textarea></div>
<div><input type="hidden" id="hidden_csum" value="{{.Checksum}}" /></div>
<div id = "emptydiv"></div>
<div> <button id = "btnSubmit" type="button">Update</button></div>
